body {
  font-family: sans-serif;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  background-color: #f9f9f9;
  margin-top: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #42113a;
  background-color: #f8b9f5;
  border:none;
  border-radius: 10px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fce7f8;
  box-shadow:2px 2px 8px rgb(99, 4, 67)
}

th, td {
  border: 1px solid #cccccc;
  padding: 6px 8px;
  text-align: center;
}

th {
  background-color: #fac2f1;
}

input[type="time"] {
  width: 110px;
  padding: 4px;
  font-size: 14px;
  border: none;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;            /* 按钮之间的间隔适中，不建议 100px 太大 */
  max-width: 800px;
  margin: 20px auto;
}

button {
  padding: 10px 18px;
  background-color: #f8b9f5;
  color: rgb(107, 31, 94);
  border: 2px solid #5a114e;
  border-radius: 6px 15px;
  cursor: pointer;
  font-size: 20px;
  min-width: 150px;
}

button:hover {
  background-color: #ec09a8;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 1px #53033b;
}

#summary {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 15px;
  padding: 10px;
  background-color: #f8b9f5;
  border: none;
  border-radius: 6px 15px ;
  box-shadow:2px 2px 8px rgb(99, 4, 67);
}

@media (max-width: 600px) {
    button {
      flex: 1 1 80%;
    }

    th, td {
      font-size: 12px;
      padding: 4px;
    }

    .summary {
      font-size: 14px;
    }
}